<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml" />
	
	<logger name="jdbc.sqlonly" level="DEBUG" />
	<logger name="jdbc.sqltiming" level="INFO" />
	<logger name="jdbc.audit" level="WARN" />
	<logger name="jdbc.resultset" level="ERROR" />
	<logger name="jdbc.resultsettable" level="ERROR" />
	<logger name="jdbc.connection" level="INFO" />
</configuration>

<!-- log4jdbc-log4j2가 제대로 동작하기 위한 설정파일 -->