<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<package name="kr.co.mytour.board.vo" />
		<package name="kr.co.mytour.login.vo" />
		<package name="kr.co.mytour.member.vo" />
	</typeAliases>
</configuration>
